#main{
    background-image:url("https://uploads-ssl.webflow.com/5ed7c0d23d6b9905f1127742/5ed7c0d23d6b9917cb127782_Nav%20Logo.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 65%;
    background-color: rgb(5, 5, 5);
}
h1{
    color: rgb(31, 89, 247);
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px #cf01c5;
    font-size: 50pt;
}
#container{
    justify-content: center;  
    width: 75%;
    height:75%;
}

.form-group {
    margin-top: 5%;
    padding: 3%;
    display: table;
}
.label{
    font-size: 20pt;
    font-weight: bolder;
    color: rgb(206, 27, 131);
}
#title{
    font-size: 25pt;
    color:rgb(206, 27, 131);
    justify-content: center;
    display: inline;
    display: flex;
    text-shadow: 2px 2px 4px rgb(31, 89, 247);
}
#date{
    font-size: 25pt;
    color: rgb(206, 27, 131);
    justify-content: center;
    display: inline;
    display: flex;
    text-shadow: 2px 2px 4px rgb(31, 89, 247);
}